.jumbotron{
  border-radius: 25px;
  width: 95%;
  min-height: 300px;
  margin: auto;
  margin-bottom: 15px;
  clear: both
}

.jumbotron p{
  font-size: 12px;
}

img{
    vertical-align: middle;
    height: 200px;
    width: 250px;
    margin-left: 40px;
}

.img-wrapper{
  width: 25%;
  float: left;
}

.text-wrapper{
  margin-top: -230px;
  width: 73%;
  float: right;
  clear: left;
}

.red{
  color: red;
}

.comment-form{
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 100px;
}

.show-comments{
  background-color: #EEEEEE;
  border-radius: 0 0 25px 25px;
  clear: both;
  margin-left: 40%;
  margin-bottom: -30px
}

.green{
  color: green;
}

.desc{
  margin-right: 45px
}

.add-form{
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.bold{
  font-weight: bold;
}

.comments{
  font-size: 14px;
  font-weight: 400;
}
